<app-main-nav>
<div class="title-box">
    <p>Adicionar Livro</p>
</div>


<div class="content">
    <form [formGroup]="formBook" (ngSubmit)="onSubmit()" class="example-form" >
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Título"  name = "title" formControlName = "title" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Autor" name = "author"formControlName = "author" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Editora" name = "publish" formControlName = "publish">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <div class="example-container">
            <mat-form-field>
                <mat-select name = "gender" formControlName = "gender">
                    <mat-option value="option">Romance</mat-option>
                    <mat-option value="option">Aventura</mat-option>
                    <mat-option value="option">Ficção Científica</mat-option>
                    <mat-option value="option">Terror</mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>bookmark</mat-icon> <b> Gênero</b>
                </mat-label>
            </mat-form-field>

            <mat-form-field>
                <mat-select name = "type" formControlName = "type" required>
                    <mat-option value="option">Físico</mat-option>
                    <mat-option value="option">E-book</mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>library_books</mat-icon> <b>Tipo</b>
                </mat-label>
            </mat-form-field>
            <mat-form-field>
                <mat-select name = "category" formControlName = "category">
                    <mat-option value="option">Lido</mat-option>
                    <mat-option value="option">Não lido</mat-option>
                    <mat-option value="option">Abandonado</mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>book</mat-icon> <b> Categoria </b>
                </mat-label>
            </mat-form-field>


        </div>
        <table>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Número de Páginas" name = "pages" formControlName = "pages">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ISBN" name = "isbn" formControlName = "isbn">
                    </mat-form-field>
                </td>
                <td>
                    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"  [attr.disabled]="true" name = "status" formControlName = "status">
                        Lendo agora
                    </mat-slide-toggle>
                </td>
            </tr>

        </table>
    </form>
    <div class="btns">
        <button type = "submit" mat-raised-button class="btn btn-cadastrar" title="Adicionar"><i class="fas fa-plus"></i></button>
        <button mat-raised-button class="btn btn btn-danger" title="Limpar" (click) = "resetForm()"><i class="fas fa-trash-alt"></i></button>
    </div>
</div>
<app-footer></app-footer>
</app-main-nav>