<p>Adicionar Livro</p>

<div class="content">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Título">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Autor">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Editora">
                    </mat-form-field>
                </td>
            </tr>

        </table>

       

    </form>
    <div class="btns">
        <button mat-raised-button class="btn-cadastrar"><i class="fas fa-plus"></i></button>
        <button mat-raised-button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    </div>
</div>