header {
    background-color: #333333;
    margin: 0%;
    padding: 0%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 5px solid #7acbcd;
}

header #logo-header {
    height: 50px;
    padding: 1%;

}