section {
    font-family: 'Gotham-Medium';
}

.content {
    margin: 50px 50px;
    background-color: #efefef;
}

.card {
    /* width: 350px; */
    border: 1px solid white;
}

#card-1 {
    background: linear-gradient(-206deg, #7accce 5%, #182848 100%);
}

#card-2 {
    background: linear-gradient(240deg, #ff7295 0%, #fe875d 100%);
}

#card-3 {
    background: linear-gradient(240deg, #00aadf 0%, #0071bc 100%)
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.number {
    font-weight: bolder;
    font-size: 40px;
    position: relative;
    left: 6%;
}

.card-header {
    color: white;
    background: #182848;
}

.box {
    margin: 40px 0px;
}

mat-card-title {
    text-transform: uppercase;
}



