section {
    font-family: 'Gotham-Medium';
    margin: 60px 220px;
}

.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}