
  <div class="content">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <mat-card id="card-1" class="card">
          <mat-card-header>
            <mat-card-title>Livros</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="number">
              210
            </p>
            <mat-card-subtitle><small>Total de livros cadastrados</small></mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-card id="card-2" class="card">
          <mat-card-header>
            <mat-card-title>Ebooks</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="number">
              10
            </p>
            <mat-card-subtitle><small>Total de Ebooks cadastrados</small></mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-card id="card-3" class="card">
          <mat-card-header>
            <mat-card-title>Empréstimos</mat-card-title>
           
          </mat-card-header>
          <mat-card-content>
            <p class="number">
              2
            </p>
            <mat-card-subtitle><small>Total de empréstimos</small></mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="box">
      <div class="card">
  <div class="card-header">
    Lendo Agora
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
    </div>
  </div>