<app-main-nav>
  <div class="content">
    <div class="row">
      <div class="col-4">
        <mat-card id="card-1" class="card">
          <mat-card-header>
            <mat-card-title>Livros</mat-card-title>
            <mat-card-subtitle>Total de livros cadastrados</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              210
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card id="card-2" class="card">
          <mat-card-header>
            <mat-card-title>Ebooks</mat-card-title>
            <mat-card-subtitle>Total de Ebooks cadastrados</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              210
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card id="card-3" class="card">
          <mat-card-header>
            <mat-card-title>Empréstimos</mat-card-title>
            <mat-card-subtitle>Total de empréstimos</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              210
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</app-main-nav>