<app-header></app-header>
<!-- <section>

  <div id="large-btn">
    <a routerLink="meuslivros">
      <div id="first-btn" class="btn">
        Meus Livros
        <img class="book" src="assets/images/logo-book .png" alt="livros">
      </div>
    </a>
    <a routerLink="emprestimo">
      <div id="second-btn" class="btn">
        Empréstimos
        <img class="loan" src="assets/images/icon-loan.png" alt="livros">
      </div>
    </a>
  </div>

  <div id="small-btn">
    <div id="total-btn" class="btn">
      Total Livros
      <img class="book" src="assets/images/logo-book .png" alt="livros">
    </div>
    <div id="ebook-btn" class="btn">
      Ebooks
      <img class="loan" src="assets/images/icon-loan.png" alt="livros">
    </div>
    <div id="loans-btn" class="btn">
      Empréstimos
      <img class="loan" src="assets/images/icon-loan.png" alt="livros">
    </div>
  </div>

  <div id="reading">
    <table id="table">
      <tr>
        <th>Lendo Agora</th>
      </tr>
      <tr>
        <td>oi{{book}}</td>
      </tr>
    </table>
  </div>

  <div>
    <div id="recents">
      <table id="table-recents" class="table table-striped">
        <tr>
          <th>Adicionados Recentemente</th>
        </tr>
        <tr>
          <td>oi{{book}}</td>
        </tr>
        <tr>
          <td>oi{{book}}</td>
        </tr>
      </table>
    </div>
    <div id="graphic">

    </div>

  </div>
</section> -->