.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
  border: none!important;
}

.sidenav .mat-toolbar {
  background: #182848;
  color: white;
  border:none!important;
}

span {
  padding: 2%;
}

.menu-a {
  padding: 5%;
  margin: 1%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content {
  background-color: #fafafa!important;
}

.mat-icon {
  color: white;
}

.header {
  background-color:#182848;
  /* display: flex;
  justify-content: flex-start;
  align-items: baseline; */
}

#logo-header {
  height: 50px;
  padding: 6%;
}

#logout {
  color: #db1515;
}
