<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar> <span><a href="#"><img id="logo-header" alt="logo" src="assets/images/library (1).svg"></a></span>
      Meus Livros</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" ><i class="fas fa-bookmark" routerLinkActive="active"></i>
        <p class="menu-a">Início</p>
      </a>
      <a mat-list-item routerLink="/meuslivros"><i class="fas fa-journal-whills"></i>
        <p class="menu-a"> Meus Livros</p>
      </a>
      <a mat-list-item routerLink="/emprestimo"><i class="fas fa-book-reader"></i>
        <p class="menu-a"> Empréstimos</p>
      </a>
      <a mat-list-item routerLink="/adicionarlivros"><i class="fas fa-book-medical"></i>
        <p class="menu-a">Adicionar Livro</p>
      </a>
      <a mat-list-item routerLink="/login" id="logout"><i class="fas fa-sign-out-alt"></i>
        <p class="menu-a">Sair</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="header" class="header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>