section {
    font-family: 'Gotham-Medium';
    margin: 60px 220px;
}

/*-- BUTTONS STYLE- -*/

a:link {
    text-decoration: none;
}
#large-btn {
    display: flex;
    justify-content: space-between;
}

#large-btn .btn {
    background-color: #7acbcd;
    width: 400px;
    height: 160px; 
    border-radius: 0.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#large-btn #fist-btn {
    width: 50%;
    height: 50px;
}

#small-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}

#small-btn .btn {
    width: 250px;
    height: 70px;
    border-radius: 0.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#small-btn #total-btn {
    background-color: #ecb248;
}

#small-btn #ebook-btn {
    background-color: #d6356a;
}

#small-btn #loans-btn {
    background-color: #47ac96;
}

#reading {
    /* margin: 60px 245px; */

}

/*-- IMAGES --*/

.book {
    width: 25%;
    margin: 4%;
} 

.loan {
    width: 25%;
    margin: 2%;  
}


/*-- TABLE --*/

#table {
    color:white;
    display: flex;
    justify-content: center;
    border-spacing: 0px 0px;
    margin-top: 5%;

}

#table th {
    background-color: #7acbcd;
    width: 1000px;
    height: 50px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: normal;
}

#table tr {
    background-color: #a6a6a6;
}

#table td{
    height: 60px;
}

#table-recents {
    color:white;
    display: flex;
    justify-content: center;
    border-spacing: 0px 0px;
    margin-top: 5%;
}

#table-recents th {
    background-color: #7acbcd;
    width: 500px;
    height: 50px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: normal;
}

#table-recents tr {
    background-color: #a6a6a6;
}

#table-recentss td{
    height: 60px;
}


/* -- MEDIA QUERIES --*/

@media (max-width: 830px) {
    #large-btn {
        flex-direction: column;
    }
      
}