<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">oi</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="image">
    <img src="assets/images/image-not-available.jpg" class="img-fluid img-thumbnail" alt="Imagem indisponível">
  </div>
<!-- 
  <table>
    <tr *ngFor="let book of books let i= index ">
      <td>
        {{book.title}}
      </td>
      </tr>
  </table> -->
  <div id="dados-conteudo" *ngIf="book">
    <table class="table table-sm table-striped table-responsive">
      <thead>
        <tr>
          <td><b>Título</b></td>
          <td>{{book.title}}</td>
        </tr>
      </thead>
      <!-- <tbody>
        <tr>
          <td><b>Autor</b></td>
          <td>{{books.author}}</td>
        </tr>
        <tr>
          <td><b>Gênero</b></td>
          <td>{{books.gender}}</td>
        </tr>
        <tr>
          <td><b>Editora</b></td>
          <td>{{books.publish}}</td>
        </tr>
        <tr>
          <td><b>Tipo</b></td>
          <td>{{books.type}}</td>
        </tr>
        <tr>
          <td><b>Categoria</b></td>
          <td>{{books.category}}</td>
        </tr>
        <tr>
          <td><b>Número de Páginas</b></td>
          <td>{{books.pages}}</td>
        </tr>
        <tr>
          <td><b>ISBN</b></td>
          <td>{{books.isbn}}</td>
        </tr>
        <tr>
          <td><b>Status</b></td>
          <td>{{books.status}}</td>
        </tr>
        <tr>
          <td>
            <div class="buttons">
              <button mat-raised-button class=" btn-info" matTooltip="Editar" matTooltipPosition="right"><i
                  class="fas fa-edit"></i></button>
              <button mat-raised-button class=" btn-danger" matTooltip="Excluir" matTooltipPosition="right"
                (click)="deleteBook(book.id)"><i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody> -->
    </table>
  </div>
</div>
