<app-main-nav>
  <div class="title-box">
    <p>Meus Livros</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Imagem</th>
              <th scope="col">Título</th>
              <th scope="col">Autor</th>
              <th scope="col">Gênero</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td class="w-25">
                <img src="assets/images/image-not-available.jpg" class="img-fluid img-thumbnail"
                  alt="Imagem indisponível">
              </td>
              <td>Harry Potter e a Pedra Filosofal</td>
              <td>J.K Rowling</td>
              <td>Ficcção</td>
              <td>
                <button mat-raised-button class="btn " title="Adicionar"><i class="fas fa-search"></i></button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class="w-25">
                <img src="assets/images/image-not-available.jpg" class="img-fluid img-thumbnail"
                  alt="Imagem indisponível">
              </td>
              <td>Petrus Logus</td>
              <td>Augusto Cury</td>
              <td>Ficcção</td>
              <td>
                <button mat-raised-button class="btn " title="Adicionar"><i class="fas fa-search"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</app-main-nav>