.title-box {
    clip-path: polygon( 0% 0%, 100% 0%, 100% 20%, 98% 100%, 0% 100% );
    background-color: #efefef;
}

.title-box p {
    padding: 0.5%;
    font-weight: bold;
    color: #2d2d2d;
}

.btn {
    background-color: #182848 
}

.fas, .far {
     color: white;
}

.buttons {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}


.img-thumbnail {
    width: 40%;
}

.table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, th {
      vertical-align: middle;
    
  }

  @media (max-width: 600px) {
    .table {
        margin-left: 0%!important;
        margin-right: 0%!important;
    }
    
    .img {
        display: none;
    }
  }


