<app-main-nav>
  <div class="title-box">
    <p>Meus Livros</p>
  </div>
  <table class="table  table-image">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col img">Imagem</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Gênero</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <th scope="row">1</th>
        <td class=" img">
          <img src="assets/images/image-not-available.jpg" class="img-fluid img-thumbnail" alt="Imagem indisponível">
        </td>
        <td>Harry Potter e a Pedra Filosofal</td>
        <td>J.K Rowling</td>
        <td>Ficcção</td>
        <td>
          <div class="buttons">
            <button mat-raised-button class="btn " matTooltip="Visualizar" matTooltipPosition="right"
              (click)="openDialog()">
              <i class="fas fa-search"></i>
            </button>
            <button mat-raised-button class=" btn-info" matTooltip="Editar" matTooltipPosition="right">
              <i class="fas fa-edit"></i>
            </button>
            <button mat-raised-button class=" btn-danger" matTooltip="Excluir" matTooltipPosition="right">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr> -->
      <tr *ngFor="let book of books">
        <th scope="row">1</th>
        <td class="img">
          <img src="assets/images/image-not-available.jpg" class="img-fluid img-thumbnail" alt="Imagem indisponível">
        </td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.gender}}</td>
        <td>
          <div class="buttons">
            <button mat-raised-button class="btn " matTooltip="Visualizar" matTooltipPosition="right"><i
                class="fas fa-search" (click)="openDialog()"></i></button>
            <button mat-raised-button class=" btn-info" matTooltip="Editar" matTooltipPosition="right"><i
                class="fas fa-edit"></i></button>
            <button mat-raised-button class=" btn-danger" matTooltip="Excluir" matTooltipPosition="right"
              (click)="deleteBook(book.id)"><i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-footer></app-footer>
</app-main-nav>