<app-main-nav>
  <div class="title-box">
    <p>Meus Livros</p>
  </div>
  <table class="table  table-image">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col img">Imagem</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Gênero</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books let i= index " [class.selected] = "books === selectedBook" (click) = "onSelect(books)">
        <th scope="row">{{i+1}}</th>
        <td class="img">
          <img src="assets/images/image-not-available.jpg" class="img-fluid img-thumbnail" alt="Imagem indisponível">
        </td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.gender}}</td>
        <td>
          <div class="buttons">
            <button mat-raised-button class="btn " matTooltip="Visualizar" matTooltipPosition="right" (click)="openDialog('dialog')"><i
                class="fas fa-search" ></i></button>
            <button mat-raised-button class=" btn-info" matTooltip="Editar" matTooltipPosition="right" (click)="openDialog('editDialog')"><i
                class="fas fa-edit" ></i></button>
            <button mat-raised-button class=" btn-danger" matTooltip="Excluir" matTooltipPosition="right"
              (click)="deleteBook(book)"><i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-footer></app-footer>
</app-main-nav>

