.title-box {
    clip-path: polygon( 0% 0%, 100% 0%, 100% 20%, 98% 100%, 0% 100% );
    background-color: #efefef;
}

.title-box p {
    padding: 0.5%;
    font-weight: bold;
    color: #2d2d2d;
}

.btn {
    background-color: #182848 
}

.fas, .far {
     color: white;
}

.buttons {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}


.img-thumbnail {
    width: 70%;
}



.container {
    padding: 2rem 0rem;
    max-width: 950px;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, th {
      vertical-align: middle;
    
  }